.modal__wrapper {
  position: absolute;
  /* top: 30%;
  left: 30%;
  bottom: 0;
  right: 0; */
}
.hshape {
  width: 14px;
  height: 14px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
  border: 1px solid #ccc;
  /* background: rgba(var(--d87,255,255,255),1); */
  background: #fff;
  position: relative;
  transform: rotate(45deg);
  bottom: 0;
  top: -8px;
  left: 26px;
}
.tag__modal {
  width: 350px;
  height: 220px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: -1px -1px 9px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: -1px -1px 9px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -1px -1px 9px 2px rgba(0, 0, 0, 0.4);
  z-index: 99999999999 !important;
}
.tag__header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  padding: 7px;
  z-index: 9;
  position: relative;
  background: #fff;
  top: -15px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.tag__input {
  width: 85%;
  padding: 2px;
  font-size: 16px;
  border: none;
  outline: none;
}
.tag__body {
  overflow-y: scroll;
}
